# Env files
.env
**/.env

# Ignore data folder (user will have to make it themselves)
data/

# Ignore the copy for now 
frontend copy/ 

# Dependencies
node_modules/
**/node_modules/

# Ignore the northeast data
map-data/

# Ignore .vscode
.vscode/

# Ignore load testing (internal)
k6/

# Ignore k8s files 
k8s/