services: 
  osm-import:
    image: overv/openstreetmap-tile-server
    command: import 
    volumes:
      - /absolute/path/to/.osm.pbf/file:/data/region.osm.pbf
      - osm-data:/data/database
    profiles:
      - db_load 

  frontend:
    image: maps-frontend 
    build:
      context: ./web 
      dockerfile: Dockerfile 
    ports: 
      - "5173:5173"
    depends_on:
      - backend 
    networks:
      - dist-maps 

  backend:
    image: maps-backend 
    build: 
      context: ./server
      dockerfile: Dockerfile 
    ports:
      - "8000:8000"
    depends_on:
      - redis 
      - mongodb
      - tileserver 
    networks:
      - dist-maps 
  
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data 
    networks:
      - dist-maps 
  
  mailhog:
    image: mailhog/mailhog 
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - dist-maps 
  
  mongodb: 
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - 'mongo:/data/db'
    networks:
      - dist-maps 
    
  tileserver:
    image: overv/openstreetmap-tile-server 
    command: run 
    ports:
      - "8080:80" 
      - "5432:5432"
    volumes:
      - osm-data:/data/database
    networks:
      - dist-maps 

volumes:
  mongo:
  osm-data:
  redis-data:
networks:
  dist-maps:
